* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: #889099;
}

a {
  color: #22252e;
}

h2 {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.4;
  color: #22252e;
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
}

#wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.btn {
  display: inline-block;
  vertical-align: top;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 30px;
  background: #fff;
  border: 1px solid #4cb649;
  padding: 10px 80px;
  color: #4cb649;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.5;
}

.btn-primary {
  background: -webkit-gradient(linear, left bottom, left top, from(#4cb649), to(#5ddf5a));
  background: linear-gradient(0deg, #4cb649 0%, #5ddf5a 100%);
  color: #fff;
}

.warning {
  background-color: #22252e;
  position: relative;
  padding: 0 50px 0 50px;
}

.warning .close {
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  padding: 0 14px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.warning .close::before {
  content: "";
  height: 18px;
  width: 2px;
  top: -3px;
  left: 10px;
  position: absolute;
  background-color: #889099;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.warning .close::after {
  content: "";
  height: 18px;
  width: 2px;
  top: -3px;
  left: 10px;
  position: absolute;
  background-color: #889099;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.warning__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  padding: 12px 0;
}

.warning__item {
  font-size: 12px;
  line-height: 1.3;
  color: #889099;
}

.warning__item a {
  color: #fff;
  text-transform: capitalize;
}

.warning__item a:hover {
  text-decoration: underline;
}

.warning__item a::after {
  content: "\276F";
  font-size: 9px;
  line-height: 1;
}

.warning__item .warning__error {
  font-weight: 700;
  color: #ff8d00;
  position: relative;
}

.warning__item .warning__error .fa-solid {
  font-size: 20px;
  vertical-align: top;
  margin: -3px 4px -3px 0;
}

#header {
  padding: 39px 0 39px;
}

#header .logo {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: #000;
  text-transform: capitalize;
  padding: 0 0 7px 5px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.menu__item {
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
}

.menu__item:hover {
  border-bottom: 3px solid #4cb649;
}

.menu__item a {
  display: block;
  color: #323642;
  padding: 0 0 6px;
}

.menu .has-dropdown {
  position: relative;
  padding-right: 20px;
}

.menu .has-dropdown::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 20%;
  right: 0;
  border: 5px solid transparent;
  border-top-color: #000;
}

.menu-sub__holder {
  display: none;
  padding: 6px 0 0 0;
}

.menu-sub__holder.open-menu {
  display: block;
  position: absolute;
  z-index: 1;
}

.menu-sub__list {
  background-color: #f5f1f1;
  padding: 10px;
  border-radius: 15px;
}

.menu-sub__list .menu__item {
  border-bottom: 1px solid #889099;
}

.menu-sub__list .menu__item:not(:last-child) {
  margin-bottom: 5px;
}

.menu-sub__list .menu__item:hover {
  opacity: 0.5;
}

.header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -139px 0 14px;
}

.header-btn .btn {
  padding: 11px 22px;
}

.header-btn .btn-primary {
  padding: 11px 35px;
}

.header-btn .btn + .btn {
  margin-left: 10px;
}

.intro-block {
  margin: 0 0 10px;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #d7d8d9;
  border-radius: 6px;
  -webkit-box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.post-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
  min-height: 399px;
  margin-right: 60px;
}

.post-img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px 0 0 6px;
}

.post-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 58px 60px 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.post-content__title {
  margin-bottom: 86px;
}

.post-content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.post-content__info li:first-child {
  color: #323642;
  margin-right: 10px;
}

.post-content__info li:not(:first-child) {
  padding: 0 0 0 10px;
  color: #889099;
  position: relative;
}

.post-content__info li:not(:first-child)::before {
  content: "";
  width: 1px;
  height: 12px;
  top: 5px;
  left: 2px;
  position: absolute;
  background-color: #889099;
}

.post-content__text {
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4cb649;
  margin-bottom: 11px;
}

.post-content__comment {
  padding-left: 6px;
  position: relative;
}

.post-content__comment .fa-regular {
  margin-right: 12px;
  font-size: 10px;
}

.tags-nav {
  padding: 21px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f7f7f7;
  border-radius: 4px;
  text-transform: uppercase;
  color: #323642;
  line-height: 1.3;
  letter-spacing: 1px;
  margin-bottom: 39px;
}

.tags-nav a:hover {
  opacity: 0.5;
}

.tags-nav .tags__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tags-nav .tags__list .tags__item {
  margin-right: 35px;
}

.tags-nav .tags__list .tags__item:first-child {
  margin-right: 43px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323642;
}

.tags-nav .tags__list .tags__item:last-child {
  margin-right: 0;
}

.tags-nav .tags__list .tags__item a {
  color: #4cb649;
}

.tags-contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 38px;
}

.main-content__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 114px;
}

.recent-posts {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 55px 0 0;
  border-right: 1px solid #d7d8d9;
}

.recent-posts__title {
  font-weight: 300;
  font-size: 32px;
  line-height: 1.4;
  color: #22252e;
  margin-bottom: 38px;
}

.recent-posts-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 0 31px;
}

.recent-posts__items .post {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #d7d8d9;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0px;
}

.recent-posts__items .post:last-child {
  margin-bottom: 40px;
}

.recent-posts__items .post-img {
  min-height: 180px;
  border-radius: 0px;
  margin-right: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 280px;
          flex: 0 0 280px;
}

.recent-posts__items .post-img img {
  border-radius: 0px;
}

.recent-posts__items .post-content {
  padding: 0;
}

.recent-posts__items .post-content .post-content__title {
  margin-bottom: 9px;
}

#sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 400px;
          flex: 0 0 400px;
  padding: 0 0 0 60px;
}

.search-block {
  margin-bottom: 42px;
}

.search-block__input {
  width: 340px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
  color: #22252e;
  border: 1px solid #d7d8d9;
  border-radius: 4px;
  background-image: url(../img/aside/search.png);
  background-position: 18px;
  background-repeat: no-repeat;
  padding: 15px 0 12px 57px;
}

.sidebar-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #889099;
  margin-bottom: 42px;
}

.sidebar-info__title {
  position: relative;
  margin-bottom: 39px;
  padding: 0 8px 0 0;
}

.sidebar-info__title::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  left: -70px;
  top: 0;
  background: url(../img/aside/img-bell.png) 0 0 no-repeat;
}

.sidebar-info__title.posts::before {
  width: 43px;
  height: 41px;
  background: url(../img/aside/img-popular.png) 0 0 no-repeat;
}

.sidebar-info__list {
  color: #323642;
}

.sidebar-info__list li {
  position: relative;
  padding: 0 0 0 10px;
}

.sidebar-info__list li::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  left: 0px;
  top: 8px;
  background: #4cb649;
}

.sidebar-info__list li:not(:last-child) {
  margin-bottom: 15px;
}

.sidebar-info__list li:last-child {
  margin-bottom: 28px;
}

.mb32 {
  margin-bottom: 32px;
}

.sidebar-img {
  max-height: 500px;
  margin-bottom: 51px;
}

.tag-cloud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 310px;
}

.tag-cloud__title {
  margin-bottom: 15px;
}

.subscription {
  background: linear-gradient(135deg, #3d4251 0%, #272b35 100%);
}

.subscription__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 25px 57px;
}

.subscription__title {
  font-weight: 300;
  font-size: 48px;
  line-height: 1.3;
  letter-spacing: -0.5px;
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
  padding: 0 6px 0 0px;
}

.subscription__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
  margin-bottom: 26px;
}

.subscription__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px 24px 40px;
  background-color: #fff;
  border: 1px solid #ebeced;
  border-radius: 6px;
  -webkit-filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.501961));
          filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.501961));
}

.subscription__info .info__title {
  font-weight: 500;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #323642;
  position: relative;
  padding-bottom: 6px;
  margin-bottom: 16px;
}

.subscription__info .info__title::before {
  content: "";
  width: 24px;
  height: 2px;
  bottom: 0px;
  left: 30%;
  position: absolute;
  background-color: #4cb649;
}

.subscription__info .info__price {
  border-bottom: 1px solid #ebeced;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.4;
  color: #22252e;
  padding-bottom: 18px;
}

.subscription__info .info__price span {
  display: inline-block;
}

.subscription__info .info__price .currency {
  vertical-align: top;
  padding: 12px 0 0 0;
}

.subscription__info .info__price .price {
  vertical-align: middle;
  font-size: 56px;
  line-height: 1.2;
  letter-spacing: -1.5px;
}

.subscription__info .info__price .period {
  vertical-align: bottom;
}

.subscription__info .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: #323642;
  margin-bottom: 13px;
  text-align: center;
}

.subscription__info .details .old-price {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #f24458;
}

.subscription__info .details .save {
  font-weight: 700;
  display: block;
}

.subscription__info .btn {
  padding: 10px 75px;
}

.subscription-big__info {
  padding: 59px 24px;
  border: 4px solid #4cb649;
  border-radius: 4px;
}

.subscription-big__info .info__title {
  margin-bottom: 14px;
  padding-bottom: 11px;
}

.subscription-big__info .info__price {
  margin-bottom: 4px;
}

.subscription-big__info .details {
  height: 70px;
}

.payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 29px;
  margin-bottom: 10px;
}

.payment__item {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
}

.subscription__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 45px;
  padding: 0 4px 0 0px;
}

.subscription__link a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #4cb649;
  position: relative;
  padding: 0 32px 0 0;
}

.subscription__link a::after {
  content: "";
  width: 15px;
  height: 10px;
  bottom: 3px;
  right: 0px;
  position: absolute;
  background: url(../img/section-subscription/img-arror.png);
}

#footer h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323642;
  margin-bottom: 20px;
}

#footer a {
  color: #889099;
}

.footer__container {
  padding: 84px 15px 9px;
}

.footer__title {
  font-family: "Inter", sans-serif;
  font-size: 27px;
  line-height: 1.2;
  color: #000;
  text-align: start;
  margin-bottom: 58px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__col {
  padding: 0 5px 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer__col:last-child {
  padding: 0;
}

.footer__list {
  margin: 0 0 68px;
}

.footer__list li {
  margin-bottom: 10px;
}

.footer__list li:last-child {
  margin: 0;
}

.footer__list-right {
  margin-bottom: 37px;
}

.footer__list-right li {
  margin-bottom: 9px;
}

.footer__list-right li:last-child {
  margin: 0;
}

.footer__list-right span {
  font-size: 12px;
  line-height: 1.3;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 31px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__icons a:hover {
  opacity: 0.5;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer__icons .facebook {
  background: url(../img/footer/img-facebook.png);
  width: 14px;
  height: 28px;
  display: block;
}

.footer__icons .twitter {
  background: url(../img/footer/img-twitter.png);
  width: 28px;
  height: 23px;
  display: block;
}

.footer__icons .googlpay {
  background: url(../img/footer/img-googlpay.png);
  width: 34px;
  height: 22px;
  display: block;
}

.footer__icons .linkedin {
  background: url(../img/footer/img-linkedIn.png);
  width: 28px;
  height: 28px;
  display: block;
}

.footer__icons .sl {
  background: url(../img/footer/img-2SL.png);
  width: 30px;
  height: 30px;
  display: block;
}

.footer__icons .youtube {
  background: url(../img/footer/img-youtube.png);
  width: 42px;
  height: 29px;
  display: block;
}
/*# sourceMappingURL=style.css.map */